@font-face {
    font-family:Georgia;
    font-style: normal;
    font-weight: normal;

}

body 
  {
  margin: 0;
  }
  
 table{
	caption-side:top;
	position:auto;
	color: white;
	  height:auto;
  margin-left:auto;
  margin-right:auto;
} 
 
 
a {
color:#ffffff;
text-decoration: none;
}
 
  #glowne 
  {
  width:100%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  background-image:url("a.PNG");
  background-repeat:repeat;
  }
  
  #glowa
  {
  background-image:url("jaworzyna.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height:auto;
  background-position: center;
  }
  
  #logo
  {
  height:220px;
  line-height:250px;
  text-align:center;
  background-image:url("logo.png");
  background-size: 	120px 120px;
  background-repeat:no-repeat;
  background-position: left top;
  }
  
   #bzdety
  {
  
  
  
  
    border-top-left-radius:20px; 
 border-top-right-radius:20px;
   border-bottom-right-radius:20px ;
  border-bottom-left-radius:20px;
    
  display:inline-block;
  background-color:white;
  position:relative;
  word-wrap:break-word;
  max-width:100%;
  display: block;
  padding: 20px;
  height: auto;
  margin-left: 100;
  margin-right: 100;
  margin-left:auto;
  margin-right:auto;
  width:80%;
  color:black;
  font-family:"Verdana"; 
  font-size:12pt;
  text-transform:absolute;
  text-align:left;

  }
  
  
  #menu
  {

  color:white;
  background-color:black;
  font-family: "Verdana"; 
  font-size:13pt;
  text-transform:uppercase;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  }
  
  #menu ul 
  {
  list-style-type: none;
  padding: 0;
  overflow:hidden;
  
  }
  
  #menu a:link, a:visited 
  {
  margin:0 auto;
  display:block;
  width: 160px;
  font-weight:bold;
  color:white;
  text-align:center;
  padding:4px;
  text-decoration:none;
  text-transform:uppercase;
  font-family:Garamond;
  font-size:12pt;
  
  }
  
  #menu a:hover, a:active 
  {
  background-color:#013B93;
  }
  
  #menu li 
  {
 padding:5px;
  display:inline-block;
  }
  
  #srodek
  {
  background-color:white;
  height:auto;
  margin-bottom:20px;
  }
    #srodek2
  {
  background-color:white;
  height:auto;
  margin-bottom:20px;
  }
  
  #srodek_zawartosc
  {
  width:90%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  }
  
  #tresc 
  {
  width:68%;
  display: inline-block;
  float:left;
  margin-top:20px;
  height:auto;
  color:white;
  }
  
  #tresc2 
  {
  width:30%;
  display: inline-block;
  float:right;
  margin-top:20px;
  height:auto;
  color:white;
  }
  
  #naglowek 
  {
   width:100%;
   height:70px;
   line-height:70px;
   font-family: "Verdana"; 
   font-size:17pt;
   font-weight:400;
   text-align:center;
   background:black;
   background-repeat: repeat;
   cursor:default;
    border-top-left-radius:10px ; 
    border-top-right-radius:10px ;
  }
  
  #naglowek2
  {
   width:100%;
   height:70px;
   line-height:70px;
   font-family: "Verdana"; 
   font-size:16pt;
   font-weight:400;
   text-align:center;
   background:url(naglowek2.png);
   background-repeat: repeat;
   cursor:default;
   margin-bottom:10px;
  }
  
  #boczek 
  {
  background:url(carbon.jpg);
  height:auto;
  font-family: "Jura", sans-serif;
  font-size:14pt;
  font-weight: 300;
  text-align:center;

   border-bottom-right-radius:10 ;
  border-bottom-left-radius:10;
 
  
  }
  
   #pogoda
  {
  background:url(pogoda.jpg);
  height:200px;
	width:200px;
  } 
 
 
  #boczek a {
  text-decoration:none;
  color:white;
  }

  
   .zawartoscx
  {
  padding:0px;
  height:auto;
  
  }
  
  
  .zawartosc
  {
  padding:0px;
  height:auto;
  
  margin-left:100px;
  margin-right:100px;
  }
  
    .zawartosc2
  {
  padding:10px;
  height:auto;
  
  margin-left:auto;
  margin-right:auto;
  }
  
  #kolejka
  {
  	width:100%;
   	height:70px;
   	line-height:70px;
   	text-align:center;
   	background-color:black;
   	margin-bottom:10px;
	margin-top:10px;
   	cursor:pointer;
   	font-family: "Jura", sans-serif;
  font-size:14pt;
    font-weight: 300;
	
	 border-top-left-radius:100px; 
 border-top-right-radius:100px;
   border-bottom-right-radius:100px ;
  border-bottom-left-radius:100px;
  box-shadow: 0 0 20px 10px white;
	
  }
  
   #kolejka2 
  {
  	width:100%;
   	height:70px;
   	line-height:35px;
   	text-align:center;
   	background-color:#e74c3c;
   	margin-bottom:10px;
   	cursor:default;

   	font-family: "Jura", sans-serif;
  font-size:14pt;
  text-transform:uppercase;
  }
  
  #t001, #t002, #t003, #t004, #t005, #t006, #t007, #t008, #t009, #t010, #t011, #t012, #t013, #t014
    #t015, #t016 ,#t017, #t018, #t019, #t020, #t021, #t022, #t023, #t024, #t025, #t026, #t027, #t028, #t029
  {
  	width:100%;
   	display:none;
   	text-align:center;
   	background-color:#13171A;
   	margin-top:0px;
   	margin-bottom:10px;
   	font-family: "Jura", sans-serif;
  font-size:13pt;
  font-weight: 300;
  border-top-left-radius:20px; 
 border-top-right-radius:20px;
   border-bottom-right-radius:20px ;
  border-bottom-left-radius:20px;
  box-shadow: 0 0 20px 10px #6C757D;
  
  }
  
  
  
  #kolejka:hover
  {
  background-color:#214ADA;
  }
  
  #lista 
  {
  border-bottom: 1px solid #202020;
  padding-top:5px;
  padding-bottom:5px;
  }
  
  #lista:last-child {
    border-bottom: 0;
    }
  
  #lista:hover
  {
  background-color:#34495e;
  }
    
  #stopka 
  {
   background-color:black;
  clear:both;
  text-align:center;
  font-family: "Jura", sans-serif;
  font-size:13pt;
  font-weight: 300;
  color:white;
  }
  

  
 #menu1 {

     overflow: hidden;
     font-family: calibri, tahoma;
	 text-align:center;

padding: 0px;
height: auto;
margin-left: auto;
margin-right: auto;
margin-top: auto;
}

ul#menu1 li {
    
     list-style-type: none;

     background: #red;


padding: 0px;
height: auto;
width:auto;
margin-left: auto;
margin-right: auto;
	   

}

ul#menu1 li:hover {

     list-style-type: none;

     background: #504C4C;
	 color:red;

}

ul#menu1 li a {
     display : block;
     padding : 0px;
     text-decoration : none;
	text-align:center;
	width: 344px;
}

ul#menu1 li li a {
     width: 344px;

	 text-align:center;
}

ul#menu1 li li:hover {
     background: #3A5795;
	color:red;
}

ul#menu1 li ul {
     overflow: hidden;
     display: none;
}

ul#menu1 li:hover ul {
     position: absolute;
     background: #aaa;
     padding: 0;
     display: block;
     width: 344px;
	 color:red;
	
}

